<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="conn" connectionString="Data Source=desktop-3evt38c\sqlexpress;Initial Catalog=QLBanSach;Integrated Security=True" providerName="System.Data.SqlClient" />
 
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
    </system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
